@charset "UTF-8";
/* 목적지 선택 드롭다운  */
.custom-dropdown {
    
}

.selected {
    padding-top: 3px;
}

.dropdown-menu {
    display: none; /* ✅ 기본적으로 숨김 */
    position: absolute;
    width: 600px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    display: flex;
}


/* ✅ 웹 실행 시 3차 메뉴 기본적으로 숨김 */
.d-none {
   /* display: none !important;*/
}

/* ✅ 3차 메뉴가 선택되었을 때 보이도록 설정 */
.detail-option {
    display: none; /* 기본적으로 숨김 */
}


.column {
    flex: 1;
    padding: 10px;
    border-right: 1px solid #ddd;
}

.column:last-child {
    border-right: none;
}

.option {
    padding: 8px;
    cursor: pointer;
    transition: background 0.2s;
}

.option:hover {
    background: #f1f1f1;
}

.main-option {
    font-weight: bold;
    color: purple;
}

.sub-option {
    color: black;
}

.sub-option.active {
    color: purple;
    font-weight: bold;
}

.detail-option {
    display: none;
    color: black;
}

.show {
    display: block;
}
