@charset "UTF-8";

.untree_co-section {
    padding: 70px 0;
    margin-top: 50px;
}

.topnav {
    position: relative;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    z-index: 9;
    padding: 0;
    background: #ffffff;
}

.packagesSelect {
    border: none;
}

.container.titleunderLine {
    padding-bottom: 20px;
    border-bottom: 2px solid;
    margin-bottom: 20px;
}

.fontsize14px {
	font-size: 14px;
}

.fontsize18px {
	font-size: 18px;
}

.reviewtitlerating {
	width: 14px;
	height: 14px;
}
/* ---------------------------------------리뷰 css-----------------------------------------*/
.reviewcntfontcolor {
	color: #486988;
}