.card {
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.card-img-top {
    height: 180px;
    object-fit: cover;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #486988;
    border-color: #486988;
}

#datePicker {
    color: black; /* 날짜 텍스트 색상 */
    background-color: white; /* 배경 색상 */
}