
<!--
기본 스타일 --> <style>.filter-container {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.filter {
	display: flex;
	flex-direction: column;
}

label {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 8px;
}

/* 버튼 그룹을 가로로 나열 */
.btn-toggle-nav {
	display: flex;
	flex-wrap: wrap; /* 버튼이 많을 경우 자동으로 줄 바꿈 */
	gap: 10px; /* 버튼들 사이에 간격 추가 */
}

.btn-toggle-nav li {
	list-style-type: none; /* li 기본 스타일 제거 */
}

.filter-btn {
	padding: 8px 16px;
	border: 1px solid #ccc;
	background-color: white;
	color: #333;
	cursor: pointer;
	border-radius: 5px;
	transition: all 0.3s ease;
}

.filter-button:hover {
	border-color: #3498db;
}

/* 선택된 버튼 스타일 */
.filter-btn.selected {
	border-color: #3498db;
	color: #3498db;
	font-weight: bold;
}

/* 버튼 클릭 시 'selected' 클래스 추가/제거 */
.filter-btn {
	padding: 8px 16px;
	border: 1px solid #ccc;
	background-color: white;
	color: #333;
	cursor: pointer;
	border-radius: 5px;
	transition: all 0.3s ease;
}

.filter-btn:hover {
	border-color: #3498db;
}

.btn-secondary {
	color: #ccc;
	background-color: white;
	border-color: white;
}

.btn-secondary:hover {
	color: #ccc;
	background-color: white;
	border-color: white;
}

.resetbtn {
	width: 14px;
	height: auto;
	padding-bottom: 5px;
	margin-left: 4px;
}

.filterUnderLine {
	border-bottom: 1px solid #dee2e6;
}

.border-bottom {
    border-bottom: 2px solid !important;
}

.resetbtnform {
    border: none;
    background: none;
    color: #ccc;
    padding: 4px 15px 4px 0;
}

.bordernone {
	border: none;
}